@import url("fonts.css");

html, body {
	width: 100%;
	height: 100vh;
    margin: 0vw;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

h1 {
	margin: 0vw;
	font-size: 4vw;
	font-family: alegreya, serif;
}

h2 {
	margin: 0vw;
	font-size: 1.25vw;
	font-family: alegreya, serif;
}

h3 {
	margin: 0vw;
	font-size: 0.8vw;
	font-family: open-sans-thin, sans-serif;
}

p {
	margin: 0vw;
	font-size: 0.9vw;
	font-family: open-sans, sans-serif;
}

div.header {
	background-color: #6EB5D5;
	color: #FFFFFF;
	width: 100%;
	height: 7vw;
	margin: 0vw;
	display: flex;
}

div.header_third {
	width: 30%;
	height: 7vw;
	margin: 0vw;
	padding: 1vw 1.5%;
}

div.content {
	width: 100%;
	height: 100%;
	margin: 0vw;
	display: flex;
}

div.description {
	background-color: #FEFEFE;
	width: 63%;
	height: 100%;
	margin: 0vw;
	padding: 0% 2%;
	line-height: 1.5vw;
}

div.textbox {
	width: 100%;
	margin: 1.5vw 0vw 0vw;
}

div.external_links {
	background-color: #8BB8C8;
	width: 33%;
	height: 100%;
	margin: 0vw;
	display: flex;
	flex-direction: column;
}

div.button {
	width: 92%;
	height: 3.8vw;
	margin: 0vw;
	padding: 1vw 4%;
	border-top-style: solid;
	border-top-width: 0.1vw;
	border-top-color: #6B98B8;
	transition: all 0.2s;
}

div.button:hover {
	background-color: #A8C8D8;
}
