@import url("fonts.css");



html, body {
	width: 100%;
    margin: 0vw;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
}

div.header {
	background-color: #6EB5D5;
	width: 100%;
	height: 8vw;
	margin: 0vw;
}

div.content {
	width: 100%;
	height: 100%;
	margin: 0vw;
	display: flex;
}

div.description {
	background-color: #FEFEFE;
	width: 75%;
	height: 100%;
	margin: 0vw;
}

div.external_links {
	background-color: #7BA0B8;
	width: 25%;
	height: 100%;
	margin: 0vw;
	display: inline-flex;
	flex-direction: column;
}
